// Main site variables

$main-text: #100b00;
$warning-color: orange;
$main-highlight: #145c9e;
$off-white: #fafafa;
$light-grey: #fafafa;
$box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.05);
$main-border: 1px solid #ededed;
$border-radius: 5px;
