@import "../../styles/main.scss";
@import "../../styles/variables.scss";

.not-found-element {
  height: 100vh;
  flex-direction: column;
  justify-content: center;

  a {
    font-weight: bold;
  }
}

.extra-large-number {
  font-size: 16rem;
}
